<!DOCTYPE html>
<html>

<head>
  <%- include ../partials/head %>
</head>
  <body>
    <%- include ../partials/header %>
    <%- include ../partials/nav %>
<<<<<<< HEAD
    <table>
    <td >Starting Point</td>
    <tr id="start"></tr>
    <td id="end">Destination</td>

</table>
    <%- include ../partials/scripts %>
    <script src="/javascript/savedsearches.js"></script>
=======

    <div class="container">

      <h1>Saved Searches</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Starting Point</th>
              <th>Destination</th>
            </tr>
            </thead>
          <tbody id="start">
          </tbody>
        </table>
    </div>
    <%- include ../partials/scripts %>
    <script src="/javascript/savedsearches.js"></script>

>>>>>>> 969e8a2e428933251917e9d0dfb777c2519ecd9a
  </body>

</html>
